<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="R8LocoCtrl.CR8ID" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <R8LocoCtrl.CR8ID>
            <setting name="Run8Path" serializeAs="String">
                <value>C:\Run8Studios\Run8 Train Simulator V3</value>
            </setting>
            <setting name="MaxSafeSpeed" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MaxCautionSpeed" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="MaxSpeedOSpeed" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PressureReference" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="PersistState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConsistEdPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DispatcherPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EAPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SSPointerVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DynBrakeLC" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TrainBrakeLC" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IndyBrakeLC" serializeAs="String">
                <value>10</value>
            </setting>
        </R8LocoCtrl.CR8ID>
    </userSettings>
</configuration>